<main class="flex-grow flex flex-col justify-center max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
  <div class="py-16">
    <div class="text-center font-serif">
      <p class="text-sm font-semibold font-sans text-warm-gray-600 uppercase tracking-wide">
        coming soon
      </p>
      <h1 class="mt-2 text-4xl font-serif font-black tracking-wider sm:text-5xl">
        parentingwith <br>
        <span class="typewrite" data-period="1000" data-type='[ "depression", "anxiety", "bipolar disorder", "OCD", "PTSD", "help." ]'>
                        <span class="wrap"></span>
                    </span>
      </h1>

      <div class="mt-4 pt-5">
        <div class="relative">
          <div class="sm:text-center font-sans">
            <h2 class="text-3xl font-extrabold text-warm-gray-500 tracking-tight sm:text-4xl">
              Get notified when we&rsquo;re launching.
            </h2>
            <p class="mt-6 mx-auto max-w-2xl text-lg text-warm-gray-500">
              parentingwith.com is a resource for parents (and their supportive partners) living with mental illness.
            </p>
          </div>

          <form action="https://parentingwith.us6.list-manage.com/subscribe/post?u=717984e9efde3bbc21efad46f&amp;id=e957d54a0e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="mt-12 sm:mx-auto sm:max-w-lg sm:flex" novalidate>
            <div class="min-w-0 flex-1">
              <label for="mce-EMAIL" class="sr-only">Email address</label>
              <input id="mce-EMAIL" type="email" value="" name="EMAIL" class="validate block w-full border border-transparent rounded-md px-5 py-3 text-base text-gray-900 placeholder-gray-500 font-sans shadow-sm focus:outline-none focus:border-transparent focus:ring-2 focus:ring-warm-gray-200 focus:ring-offset-2 focus:ring-offset-warm-gray-600" placeholder="Enter your email">
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-3">
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="block w-full rounded-md border border-transparent px-5 py-3 bg-warm-gray-500 text-base font-sans font-medium text-amber-100 shadow hover:bg-warm-gray-400 focus:outline-none focus:ring-2 focus:ring-warm-gray-200 focus:ring-offset-2 focus:ring-offset-warm-gray-600 sm:px-10">Notify me</button>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_717984e9efde3bbc21efad46f_e957d54a0e" tabindex="-1" value=""></div>
          </form>

        </div>
      </div>
    </div>
  </div>
</main>
<footer class="flex-shrink-0 max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
  <nav class="flex justify-center space-x-4">
    <a href="https://www.facebook.com/Parentingwith-109895811393569" class="text-sm font-medium text-gray-500 hover:text-gray-600" target="_blank">Facebook</a>
    <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
    <a href="https://twitter.com/parentingwithus" class="text-sm font-medium text-gray-500 hover:text-gray-600" target="_blank">Twitter</a>
    <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
    <a href="https://instagram.com/parentingwithus" class="text-sm font-medium text-gray-500 hover:text-gray-600" target="_blank">Instagram</a>
  </nav>
</footer>